---
name: Lint code

on:
  workflow_call:
    inputs:
      runner:
        description: "GitHub Runner"
        required: true
        type: string
      config_options:
        description: "Configuration options for linter"
        required: false
        type: string
        default: '{}'

jobs:
  linting:
    runs-on: ${{ inputs.runner }}

    env:
      LOG_LEVEL: ERROR
      VALIDATE_ALL_CODEBASE: ${{ contains(github.event.*.labels.*.name, 'all codebase') }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Process config_options
        id: process_options
        if: ${{ inputs.config_options != '{}' }}
        uses: actions/github-script@v8
        with:
          script: |
            let configOptions = core.getInput('config-options');
            let jsonOptions = JSON.parse(configOptions);

            for (const option in jsonOptions) {
              core.info(`${option}: ${jsonOptions[option]}`);
              core.exportVariable(option, jsonOptions[option]);
            }
          config-options: ${{ inputs.config_options }}

      - name: Start linting
        uses: super-linter/super-linter@v8.2.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
